.NavBar {
    display: flex;
    background-color: rgb(24, 77, 192);
    opacity: 0.9;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: rgb(204, 212, 124);
    
    
}

.NavBar ul {
    list-style-type: none;
    display:flex;
    font-size:20px;
    border-radius: 30px;
    border-style: solid;
    padding: 1px;
    margin: 10px
    
}

p.p-navbar {
    display:flex;
    justify-content:center;
    align-items: center;
    height: 20px;
    width: 20px;
    font-size: 15px;
    border-radius: 30px;
    border-width: 3px;
    background-color:white;
    border-color: white;
    border-style: solid;
    position: relative;
    right: -75px;
    top: 5px;
    color: rgb(212, 54, 54);
}





.Link {
    color: rgb(204, 212, 124);
    display: flex;
    padding: 10px;    
}

.img-NavBar {
    height:80px;
    filter: invert(80%)

}

.img-NavBar-cart {
    width: 90px;
}



.active {
    font-weight: bold;
    color:black
}

.Link:hover {
    font-weight: bold;
    color:yellow
}

