.NavBar {
    display: flex;
    background-color: rgb(24, 77, 192);
    opacity: 0.9;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: rgb(204, 212, 124);
    position: fidex
    
}

.NavBar ul {
    list-style-type: none;
    display:flex;
    font-size:20px;
    border-radius: 30px;
    border-style: solid;
    padding: 1px;
    margin: 10px
    
}


.NavBar a {
    color: rgb(204, 212, 124);
    display: flex;
    flex-direction:row;
    text-decoration:none;
}


.Link {
    color: rgb(204, 212, 124);
    display: flex;
    padding: 30px;
    font-weight: 10px
}

.img-NavBar {
    height:80px;
    filter: invert(80%)

}

.img-NavBar-cart {
    width: 90px;
}

.p-navbar {
    position: absolute;
    color:red;
    top: 10%;
    right: 35%;
    background-color: blue;
    width: 20px;
    height:  20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    border: solid;
    border-color: white;
}

.CartWidget {
    position: relative
}