.NavBar {
    display: flex;
    background-color: rgb(24, 77, 192);
    opacity: 0.9;
    position: sticky;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: rgb(204, 212, 124)
    
}

.NavBar ul {
    list-style-type: none;
    display:flex;
    font-size:20px;
    border-radius: 30px;
    border-style: solid
    
    
}

.NavBar a {
    color: rgb(204, 212, 124);
    display: flex;
    flex-direction: row
}

.Link {
    padding: 30px
}

.img-NavBar {
    height:80px;
    filter: invert(80%)

}
