.Cart {
    justify-content: center;
    align-items: column;
}



.cart-div {
    color: white;
    display: flex;
    flex-direction: column;
    

    
}

.Cart h1 {
    color:white;

}

.cart-control {
    background-color: rgb(24, 77, 192);
    display: flex;
    justify-content: center;
}


.Cart button {
    display: flex;
    justify-content: center;
    padding: 30px;
    width: 30%
}